@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a192f;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Utilidades personalizadas para ocultar scrollbar pero mantener funcionalidad */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
